.social-icon:hover {
    color: #343a40 !important;
    /* color más oscuro (dark gray) */
}

.body-fondo {
    background-image: url('/images/circuito-tecnologia.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 1rem !important;
    border: 1px solid #dee2e6;
    white-space: nowrap;
}